<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
    <div class="col-md-4">
      <div class="panel panel-body">
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        <%= profile_img(user) %>
        <%= user.email %>
        <%= render 'follow_form', user: user %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
